<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586503495357-26t03rndiq3smg8vkav2qj740cqts813.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586503495357-26t03rndiq3smg8vkav2qj740cqts813</string>
	<key>API_KEY</key>
	<string>AIzaSyAjrx332-Oin6kZglx8ZAR0C1GDeQ1iDnc</string>
	<key>GCM_SENDER_ID</key>
	<string>586503495357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicSharer.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>music-sharer-6bc5b</string>
	<key>STORAGE_BUCKET</key>
	<string>music-sharer-6bc5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586503495357:ios:321cef1e77132e4896e1d4</string>
</dict>
</plist>